
<div  class="flex-container">
    <div style="flex-grow: 8">
      <h3 class="page-heading" style="width: 200px; margin-right: 12px;"> Campaign Details</h3>
    </div>
    <div style="flex-grow: 2;text-align: end;">
      <button (click)="onApplyButtonClick(data.campaignId)" class="btn-new-Org-small" style="margin-right: 17px;">Apply</button>
      <button (click)="onCancelButtonClick()"  class="btn-new-Org-small">Cancel</button>
    </div>
</div>
<div style="margin-left: 20px;">
<p>Category Group : {{ data.groupCategory }}</p>
<p>Data Type : {{ data.dataType }}</p>
<p>Campaign Date : {{ formatDate(data.startDate) }} - {{ formatDate(data.endDate) }}</p>

<table class="blast-table">
    <thead>
      <tr>
        <th>Select</th>
        <th>Date</th>
        <th>Blast Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let blast of data.blastData">
        <td><input type="radio" name="selectedBlast" [value]="blast.id" (change)="selectedBlastId = blast.id" [checked]="blast.isSelected"  style=" cursor: pointer; "></td>
        <td> {{ formatDate( blast.date) }}</td>
        <td>{{ blast.blastName }}</td>
      </tr>
    </tbody>
  </table>
  

</div>